footer(class="footer")
    div(class="container-xl")
        div(class="wrapper row")
            div(class="general col-lg-4 col-md-12 col-12")
                h3(class="general__title") THÔNG TIN CHUNG
                p(class="general__desc") Với sứ mệnh "Khách hàng là ưu tiên số 1" chúng tôi luôn mạng lại giá trị tốt nhất
                p(class="general__address") 
                    span(class="general__label") Địa chỉ:
                    |  70 Lữ Gia, Phường 15, Quận 11, TP. Hồ Chí Minh
                p(class="general__phone-number") 
                    span(class="general__label") Điện thoại: 
                    |  1900 6750
                p(class="general__email") 
                    span(class="general__label") Email:
                    |  support@sapo.vn
            div(class="policy col-lg-3 col-md-4 col-12")
                h3(class="policy__title") CHÍNH SÁCH
                ul(class="policy__list d-md-block d-none")
                    li(class="policy__item") Chính sách thành viên
                    li(class="policy__item") Chính sách thanh toán
                    li(class="policy__item") Hướng dẫn mua hàng
                    li(class="policy__item") Bảo mật thông tin cá nhân
                    li(class="policy__item") Chính sách cộng tác viên
                
            div(class="support col-lg-2 col-md-4 col-12")
                h3(class="support__title") HỔ TRỢ
                ul(class="support__list d-md-block d-none")
                    li(class="support__item") 
                        span(class="support__label") Kinh doanh: 
                        | 1900 800 111
                    li(class="support__item") 
                        span(class="support__label") Bảo hành: 
                        | 1900 800 222
                    li(class="support__item") 
                        span(class="support__label") Khiếu nại: 
                        | 1900 800 333
                    li(class="support__item") Liên hệ 
            div(class="social col-lg-3 col-md-4 col-12")
                h3(class="social__title") LIÊN KẾT XÃ HỘI
                div(class="social__box")
                    a(href="#",class="social__item social__facebook")
                        i(class="fa-brands fa-facebook-f") 
                    a(href="#",class="social__item social__youtube")
                        i(class="fa-brands fa-youtube")
                    a(href="#",class="social__item social__instagram")
                        i(class="fa-brands fa-instagram")
                    a(href="#",class="social__item social__twitter")
                        i(class="fa-brands fa-twitter")
