include ../mixins/categoryTree.pug

nav(class="nav-bar d-none d-lg-block")
    div(class="container-xl")
        div(class="wrapper")
            div(class="category-box")
                div(id="category" class="category")
                    ul(id="list-category" class="list-category")
                        each category,index in categoryTree
                            if category.children.length > 0
                                li(class="category-item")
                                    a(class="category-item__name category-item__label" href=`/product/${category.slug}`)
                                        p(class="category-item__name") #{category.name}
                                        if category.children.length > 0
                                            span(class="category-item__btn")
                                                i(class="fa-solid fa-caret-down")
                                    div(class="category-group")
                                        +categoryTree(category.children)
                            else 
                                li(class="category-item")
                                    a(class="category-item__name category-item__label" href=`/product/${category.slug}`) #{category.name}
                        li(class="category-item")
                            a(class="category-item__name category-item__label" href=`/product/featured`)
                                p(class="category-item__name") Sản Phẩm Nổi Bật


                div(class="category-group-btn" id="category-group-btn")
                    span(class="category-btn", id="category-btn__prev")
                        i(class="fa-solid fa-caret-left")
                    span(class="category-btn", id="category-btn__next")                    
                        i(class="fa-solid fa-caret-right")
            div(class="promotion-box")
                a(class="promotion__link",href="")
                    img(class="promotion__img" src="https://bizweb.dktcdn.net/100/488/001/themes/910675/assets/gift.gif?1735792319782", alt="")
                    p(class="promotion__title") KHUYẾN MÃI
