header(class="header")
    div(class="container-xl")
        div(class="wrapper row")
            div(class="left-box col-lg-2 col-md-3 col-sm-4 col-5")
                a(class="logo__link" href="/") 
                    img(class="logo__img",src="https://bizweb.dktcdn.net/100/488/001/themes/910675/assets/logo.png?1735792319782", alt="logo") 
            div(class="middle-box col-lg-6 col-md-12")
                button(class="store-system-btn d-lg-block d-none")
                    small(class="store-system-btn__title") Hệ thống cửa hàng
                    b(class="store-system-btn__desc") (8 chi nhánh)
                div(class="search-wrapper d-md-flex")
                    form(class="search-box",action="/product", method="get") 
                        input(class="search-box__input",id="search-box__input",type="text",name="keyword", placeholder="Bạn muốn tìm gì?", value="", autocomplete="off",searchValue=`${searchKeyWord || ""}`)
                        button(type="reset",class="search-box__btn--reset",id="search-box__btn--reset")
                            span(class="search-box__icon")  
                                i(class="fa-solid fa-xmark")
                        button(type="submit",class="search-box__btn")
                            span(class="search-box__icon")  
                                i(class="fa-solid fa-magnifying-glass")
                    div(class="search-box__suggest",id="search-box__suggest")
                        p(class="suggest__title") Gợi ý tìm kiếm
                        ul(class="suggest-list")
                                            
            div(class="right-box col-lg-4 col-md-3 col-sm-8 col-7")
                div(class="hotline d-none d-lg-flex")
                    div(class="hotline__icon")
                        i(class="fa-solid fa-phone-volume")
                    div(class="hotline__desc")
                        p(class="hotline__title") Hotline
                        a(class="hotline__number", href="/") 1900 2345
                a(href="/",class="favorite-products")
                    div(class="favorite-products__icon")
                        i(class="fa-regular fa-heart")
                    div(class="favorite-products__desc d-none d-lg-block")
                        p(class="favorite-products__title") Yêu thích
                        p(class="favorite-products__detail") 
                            span(class="favorite-products__quantity") 0 
                            | sản phẩm

                a(href="/", class="user")
                    i(class="fa-regular fa-user")

                a(href="/",class="cart")
                    span(class="cart__quantity") 0
                    i(class="fa-solid fa-cart-shopping")
