nav(class="nav-bar d-none d-lg-block")
    div(class="container-xl")
        div(class="wrapper")
            div(class="left-box")
                div(id="category" class="category")
                    ul(id="list-category" class="list-category")
                        li(class="category-item")
                            p(class="category-item__title") máy lạnh
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") tivi
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") tủ lạnh
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") máy giặt
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") đồ gia dụng
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") điện thoại
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") máy lọc nước
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") phụ kiên
                            <i class="category-item__btn fa-solid fa-caret-down"></i>
                        li(class="category-item")
                            p(class="category-item__title") tin tức
                            <i class="category-item__btn fa-solid fa-caret-down"></i>  
                div(class="category-btn")
                    <i id="category-btn__prev" class="category-item__btn fa-solid fa-caret-left"></i>
                    <i id="category-btn__next" class="category-item__btn fa-solid fa-caret-right"></i>
            div(class="right-box")
                a(class="promotion",href="")
                    img(class="promotion__img" src="https://bizweb.dktcdn.net/100/488/001/themes/910675/assets/gift.gif?1735792319782", alt="")
                    p(class="promotion__title") KHUYẾN MÃI