.create {
    color: $text-color-3;

    label {
        display: block;
        margin-top: 20px;
    }

    textarea {
        outline: none;
    }
    select {
        height: 30px;
        outline: none;
    }

    .create__title {
        margin: 0;
        font-size: 2rem;
        padding: 20px 0 5px 0;
        border-bottom: 1px solid $text-color;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 10px;
        flex-wrap: wrap;

        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid $text-color;
            border-radius: 3px;
            font-size: 1.4rem;
            color: $text-color-3;
            height: 30px;
        }
    }

    .form-item {
        flex: 1;
        min-width: 150px;
    }

    .create-category {
        align-self: flex-end;
    }
    .create-category__title {
        margin: 10px 0 0 0;
    }
    .create-category__btn {
        color: #fff;
        background-color: $primary;
        width: 25%;
        &:hover {
            background-color: $color-hover;
        }
    }

    .btn-status {
        .form-check-input {
            width: 45px;
        }
    }

    .create-btn{
        background-color: $primary;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 20px;
        display: block;
        margin-left: auto;
        &:hover{
            background-color: $color-hover;
        }
    }
}
