.create,
.edit {
    color: $text-color-3;

    label {
        display: block;
        margin-top: 20px;
        cursor: pointer;
    }

    textarea {
        outline: none;
    }
    select {
        height: 30px;
        outline: none;
    }

    .create__title,
    .edit__title {
        margin: 0;
        font-size: 2rem;
        padding: 20px 0 5px 0;
    }

    .general {
        padding: 10px 10px 20px;
        border: 1px dashed $text-color-3;
        border-radius: 5px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 10px;
        flex-wrap: wrap;

        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid $text-color;
            border-radius: 3px;
            font-size: 1.4rem;
            color: $text-color-3;
            height: 30px;
        }
    }

    .form-item {
        flex: 1;
        min-width: 150px;
    }

    .edit-category,
    .create-category {
        align-self: flex-end;
    }
    .edit-category__title,
    .create-category__title {
        margin: 10px 0 0 0;
    }
    .edit-category__btn,
    .create-category__btn {
        color: #fff;
        background-color: $primary;
        width: 25%;
        &:hover {
            background-color: $color-hover;
        }
    }

    .btn-status {
        .form-check-input {
            width: 45px;
        }
    }
    .form-group__btn {
        display: flex;
        justify-content: space-between;
    }
    
    .create-btn,.back-btn,
    .edit-btn {
        background-color: $primary;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 20px;
        &:hover {
            background-color: $color-hover;
        }
    }

    .image {
        padding: 20px;
        border: 1px dashed $text-color-3;
        border-radius: 5px;
    }

    .image-group {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(150px, auto);
        .image-group__preview {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 5px;
            border: 1px solid $text-color-3;
            position: relative;

            .image__close-icon {
                font-size: 1.6rem;
                position: absolute;
                top: -8px;
                right: -2px;
                color: $color-hover;
                background-color: #fff;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    color: red;
                }
            }

            &:first-child {
                grid-column: span 2;
                grid-row: span 3;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .image__upload {
        width: 100%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
        margin-top: 0;
        font-weight: 0;
        border: 1px dashed $text-color-3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover {
            color: $color-hover;
            border: 1px dashed $color-hover;
        }
    }
    .image__upload-icon {
        font-size: 3.4rem;
    }

    input[type="file"] {
        display: none;
    }
}
