.create,
.detail,
.edit {
    color: $text-color-3;

    label {
        display: block;
        margin-top: 20px;
        cursor: pointer;
        white-space: nowrap;
    }
    .label {
        margin: 0;
        white-space: nowrap;
    }

    textarea {
        outline: none;
    }
    select {
        height: 30px;
        outline: none;
    }

    .title {
        margin: 10px 0;
        font-size: 2rem;
    }

    .general {
        padding: 10px;
        border: 1px dashed $text-color-3;
        border-radius: 5px;
    }

    .status {
        background-color: #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        display: inline-block;
        margin: 5px 0 0;
        &.active {
            color: $page-bg-color;
            background-color: green;
        }
    }
    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .content {
            &::first-letter {
                text-transform: uppercase;
            }
        }

        input,
        textarea,
        select {
            width: 100%;
            border: 1px solid $text-color;
            border-radius: 3px;
            font-size: 1.8rem;
            color: $text-color-3;
            height: 30px;
        }
    }
    .form-item {
        flex: 1;
    }
    .add-more {
        align-self: flex-end;
    }
    .add-more__title {
        margin: 0;
        white-space: nowrap;
    }
    .add-more__btn {
        color: #fff;
        background-color: $primary;
        width: 25%;
        &:hover {
            background-color: $color-hover;
        }
    }

    .btn-status,
    .btn-featured {
        .form-check-input {
            width: 45px;
        }
    }
    .form-group__btn {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .image {
        padding: 20px;
        border: 1px dashed $text-color-3;
        border-radius: 5px;
        margin-top: 5px;
    }

    .image-group {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        .image-group__preview {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            padding: 5px;
            border: 1px solid $text-color-3;
            position: relative;

            .image__close-icon {
                font-size: 1.8rem;
                position: absolute;
                top: -8px;
                right: -2px;
                color: $color-hover;
                background-color: #fff;
                cursor: pointer;
                border-radius: 50%;
                &:hover {
                    color: red;
                }
            }

            &:first-child {
                grid-column: span 2;
                grid-row: span 3;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .image__upload {
        width: 100%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
        margin-top: 0;
        border: 1px dashed $text-color-3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        aspect-ratio: 1 / 1;
        &:hover {
            color: $color-hover;
            border: 1px dashed $color-hover;
        }
    }
    .image__upload-icon {
        font-size: 3.4rem;
    }

    input[type="file"] {
        display: none;
    }
}
.detail {
    .content {
        margin-bottom: 0;
    }
    .form-item {
        background-color: rgba(238, 238, 245, 0.8);
        border-radius: 8px;
        padding: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
