/* ======================================= toolbar ======================================= */
.toolbar {
    padding: 30px 0 10px;
    border-bottom: 1px solid $text-color;
    /* ============ left box =========== */
    .toolbar__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .search {
        border: 2px solid $text-color;
        border-radius: 3px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .search__input {
        border: none;
        padding: 5px;
        caret-color: $text-color;
        font-size: 1.2rem;
        background-color: #fff;
        width: 300px;
    }

    .search__toolbar-icon {
        display: inline-block;
        cursor: pointer;
        background-color: #fff;
        padding: 0 10px;
        border: 2px solid transparent;
        border-left: 2px solid $text-color;
        color: $text-color;
        &:hover {
            color: $color-hover;
        }
    }

    /* ============  right-box =========== */
    .advanced-filter-btn,
    .advanced-handle-btn,
    .trash-btn,
    .back-btn,
    .btn-restore,
    .create-btn {
        margin-top: 5px;
        background-color: $primary;
        border: none;
        color: #fff;
        &:hover {
            background-color: $color-hover;
        }
    }
    .trash-btn,
    .advanced-handle-btn,
    .back-btn {
        margin-left: 5px;
    }
    .search__filter-icon,
    .product__list-icon,
    .create__plus-icon {
        margin-right: 5px;
    }

    /* ============  filter-box,handle-box =========== */
    .toolbar__advanced-box {
        height: 0;
        overflow: hidden;
        .advanced__item-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            height: 40px;
            background-color: $text-color-3;
        }
        .toolbar__advanced-group-btn {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .block-advanced__title {
            font-size: 1.6rem;
            font-weight: 600;
            color: $text-color;
            margin: 0;
            min-width: 150px;
        }
        select {
            width: 100%;
            border-radius: 3px;
            font-size: 1.4rem;
            color: $text-color-3;
            height: 30px;
            outline: none;
            border: none;
        }
        label {
            background-color: #eeeef5;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            padding: 3px 5px;
            color: $text-color-3;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        input[type="radio"]:checked + label {
            background-color: $color-hover;
            color: #fff;
        }

        input[type="radio"] {
            display: none;
        }

        .toolbar__advanced-form {
            width: 100%;
        }
        .block-advanced {
            overflow: auto;
            margin-top: 15px;
        }
        .advanced__title {
            font-size: 1.4rem;
            margin: 0;
            color: $text-color-3;
            min-width: 150px;
        }

        .toolbar__advanced-btn {
            color: #fff;
            width: 100px;
            border: none;
            &:hover {
                background-color: $color-hover;
            }
        }
        
        .advanced__item {
            display: flex;
            gap: 5px;
            align-items: center;
            height: 40px;
            padding: 0 10px;
        }
        .advanced__item-2 {
            display: flex;
            gap: 5px;
            align-items: center;
            height: 40px;
            padding: 0 10px;
            background-color: $text-color;
        }
        .advanced__radio-group {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .advanced__input {
            border: none;
            border-radius: 3px;
            padding: 3px 5px;
            caret-color: $text-color;
            font-size: 1.2rem;
            background-color: #fff;
            color: $text-color-3;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }

        .advanced__number-group {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 250px;
        }
    }
}
.overview-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    overflow: auto;
    gap: 20px;
    // scrollbar
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-color-header;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-hover;
        border-radius: 50px;
    }

    .overview-item {
        background-color: #fff;
        width: 100%;
        min-width: 170px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .overview-item__title {
        margin: 0;
        width: 100%;
        font-size: 1.4rem;
        color: $text-color-3;
    }
    .overview-item__detail {
        margin: 0;
        width: 100%;
        font-size: 1.2rem;
        color: $color-hover;
        font-weight: 600;
    }
}

.list-product {
    padding-top: 30px;
    font-size: 1.2rem;
    overflow: auto;
    color: $text-color-3;
    // scrollbar
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-color-header;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-hover;
        border-radius: 50px;
    }
    .list-product__table {
        width: 100%;
        min-width: 1450px;
    }

    .list-product__sort-icon {
        font-size: 1.2rem;
        cursor: pointer;
        color: $primary;
        padding: 5px;
        &:hover {
            color: $color-hover;
        }
    }

    .product-item__name {
        display: flex;
        align-items: center;
        max-width: 170px;
        height: 50px;
        overflow: hidden;
    }

    .product-item__img {
        width: 50px;
    }
    .product-item__title {
        margin: 0;
        margin-left: 5px;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 0;
        font-size: 1.2rem;
    }

    .product-item__icon {
        margin: 0 10px;
    }

    .product-item__input {
        display: none;
        border: 2px solid $text-color;
        width: 100px;
        border-radius: 3px;
        overflow: hidden;
    }

    .product-item__inventory,
    .product-item__discount {
        margin-left: 15px;
    }

    tbody {
        tr {
            border-width: 2px 0 0 0;
            border-style: solid;
            border-color: $text-color transparent transparent transparent;
        }
        td {
            padding: 10px 0;
        }
    }

    .btn-edit,
    .btn-restore {
        background-color: $primary;
        color: #fff;
        &:hover {
            background-color: $color-hover;
        }
    }

    .product-item__icon-pen {
        color: $primary;
        cursor: pointer;
    }

    .form-check-input {
        cursor: pointer;
        transition: 0.2s;
        width: 35px;
        border: 1px solid #4caf50;
        box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        &:checked {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            background-color: #4caf50;
            border: transparent;
            &:focus {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            }
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        }
    }

    .noProducts {
        display: inline-block;
        font-size: 1.4rem;
        margin-right: 3px;
    }
    .noProducts__link {
        font-size: 1.4rem;
        color: $color-hover;
        text-decoration: underline solid;
    }
}

/* ============ box =========== */
/* ======================================= block ======================================= */
