.overview-block {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    overflow: auto;
    gap: 20px;
    // scrollbar
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-color-header;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-hover;
        border-radius: 50px;
    }

    .overview-item {
        background-color: #fff;
        width: 100%;
        min-width: 170px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    .overview-item__title {
        margin: 0;
        width: 100%;
        font-size: 1.4rem;
        color: $text-color-3;
    }
    .overview-item__detail {
        margin: 0;
        width: 100%;
        font-size: 1.2rem;
        color: $color-hover;
        font-weight: 600;
    }
}

.list-table {
    padding-top: 30px;
    font-size: 1.2rem;
    overflow: auto;
    color: $text-color-3;
    // scrollbar
    &::-webkit-scrollbar {
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: $bg-color-header;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $color-hover;
        border-radius: 50px;
    }
    .list-product__table {
        width: 100%;
        min-width: 1450px;
    }

    .list-category__table,
    .list-permissions__table,
    .list-roles__table {
        width: 100%;
    }

    .list-table__sort-icon {
        font-size: 1.2rem;
        cursor: pointer;
        color: $primary;
        padding: 5px;
        &:hover {
            color: $color-hover;
        }
    }

    .table-item__name {
        display: flex;
        align-items: center;
        max-width: 170px;
        height: 50px;
        overflow: hidden;
    }

    .table-item__img {
        width: 50px;
    }
    .table-item__title {
        margin: 0;
        margin-left: 5px;
        font-size: 1.2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        margin: 0;
        font-size: 1.2rem;
    }

    .table-item__icon {
        margin: 0 10px;
    }

    .table-item__input {
        display: none;
        border: 2px solid $text-color;
        width: 100px;
        border-radius: 3px;
        overflow: hidden;
    }

    .product-item__inventory,
    .product-item__discount {
        margin-left: 15px;
    }

    tbody {
        tr {
            border-width: 2px 0 0 0;
            border-style: solid;
            border-color: $text-color transparent transparent transparent;
        }
        td {
            padding: 10px 0;
        }
    }

    .btn-edit,
    .btn-restore {
        background-color: $primary;
        color: #fff;
        &:hover {
            background-color: $color-hover;
        }
    }

    .table-item__icon-pen {
        color: $primary;
        cursor: pointer;
    }

    .form-check-input {
        cursor: pointer;
        transition: 0.2s;
        width: 35px;
        border: 1px solid #4caf50;
        box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        &:checked {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            background-color: #4caf50;
            border: transparent;
            &:focus {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            }
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        }
    }

    .noProductCategory,
    .noProducts {
        display: inline-block;
        font-size: 1.4rem;
        margin-right: 3px;
    }
    .noProductCategory__link,
    .noProducts__link {
        font-size: 1.4rem;
        color: $color-hover;
        text-decoration: underline solid;
    }
}

/* ============ box =========== */
/* ======================================= block ======================================= */
