.home {
    /* ======================================= block slide-banner ======================================= */
    .slide-banner {
        padding: 20px 0 0;
        overflow: hidden;
    }

    .slide {
        overflow: hidden;
    }
    .carousel-item__img {
        height: 400px;
        object-fit: cover;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .banner__link {
        overflow: hidden;
        &:hover {
            .banner__img {
                transform: scale(1.1);
            }
        }
    }
    .banner__img {
        width: 100%;
        height: 130px;
        transition: transform 0.3s ease;
        object-fit: cover;
    }
    /* ======================================= block brand ======================================= */
    .block-brand {
        margin: 0;
        padding: 50px 0 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(8, auto);
        gap: 20px;
    }

    .brand-item {
        &:hover {
            .brand-item__img {
                transform: scale(1.1);
            }
        }
    }

    .brand-item__img {
        width: 100%;
        height: 100%;
        transition: 1s;
    }
    /* ======================================= block product ======================================= */
    .product {
        padding: 30px 0 0 0;
    }
    /* ============ product header =========== */
    .product-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
        flex-wrap: wrap;
    }

    .product-title {
        background-color: $primary;
        border-radius: 0 20px 20px 0;
        padding: 5px 25px 5px 10px;
        text-transform: uppercase;
        &:hover {
            .product-title__link {
                color: $color-hover;
            }
        }
    }

    .product-category {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .product-category__btn {
        height: 100%;
        padding: 10px;
        font-size: 1.2rem;
        color: $primary;
        background-color: #fff;
        border-radius: 50px;
        border: 1px solid $primary;
        transition: 0.5s;
        text-transform: capitalize;
        &:hover {
            color: $text-color;
            background-color: $primary;
        }
    }

    /* ============ product banner =========== */
    .product-banner {
        max-height: 300px;
        overflow: hidden;
    }

    .product-banner__img {
        width: 100%;
        object-fit: cover;
    }
    /* ============ list-product =========== */
    .product-list {
        align-items: center;
        margin: 0;
        padding: 10px 0;
        row-gap: 15px;
    }

    .product-item {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
            rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 5px;
        overflow: hidden;
        padding: 0;
        height: 300px;
    }
    .product-item__img-wrapper {
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-item__img {
        max-width: 100%;
        height: 100%;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .product-item__desc {
        padding: 10px 15px;
        color: $primary;
        height: 100px;
    }
    .product-item__title {
        color: $text-color-2;
        font-size: 1.4rem;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: $color-hover;
        }
    }
    .product-item__price-discounted {
        margin: 0;
    }
    .product-item__price-original {
        font-size: 1.2rem;
        text-decoration: line-through;
        color: #ccc;
    }

    .product-item__price-discount-percent {
        color: red;
        font-size: 1.2rem;
        text-decoration: none;
        margin-left: 5px;
    }
}

/* ============ box =========== */
/* ======================================= block ======================================= */
