/* ============================================= empty-cart ============================================= */
.profile {
    color: $text-color-2;
    margin: 20px 0;
    .left-box {
        padding-right: 10px;
        margin-bottom: 10px;
    }
    .profile-box {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .profile-box__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary;
        overflow: hidden;
    }
    .profile-box__avatar img {
        width: 100%;
        object-fit: cover;
    }
    .profile-box__name {
        margin: 0;
    }
    .profile-box__link {
        color: $primary;
    }
    .profile-box__link:hover {
        color: $color-hover;
    }

    .profile-sidebar__list {
        padding: 0;
        margin: 0;
    }
    .profile-sidebar__list li a {
        padding: 10px;
    }

    .dropdown-item__title {
        margin: 0 0 0 5px;
        display: inline-block;
    }

    .right-box {
        padding: 10px;
        background-color: #ccc;
        border-radius: 10px;
    }

    .right-box__wrapper {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    .avatar {
        text-align: center;
    }

    .avatar__img {
        width: 80%;
        max-width: 200px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: cover;
    }
    .avatar__label {
        display: block;
        cursor: pointer;
        margin-top: 10px;
        color: $primary;

        &:hover {
            color: $color-hover;
        }
    }

    .info {
        flex: 1;
    }

    .info__title {
        margin: 0;
        color: $text-color-2;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: 1.8rem;
        gap: 20px;
    }

    .info__item {
        flex: 1;
    }

    .info__field {
        white-space: nowrap;
        margin: 10px 0 0 0;
    }
    .form-control {
        font-size: 1.6rem;
    }
    .right-box__actions {
        margin: 10px 0;
        text-align: end;

        button {
            font-size: 1.6rem;
        }
    }
}
