/* ======================================= general ======================================= */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
    color: $text-color;
}

input {
    &:focus {
        outline: none;
    }
}
a,
a:hover {
    text-decoration: none;
    color: currentColor;
}
ul {
    padding: 0 0 0 15px;
}

li {
    list-style: none;
}

.main {
    padding: 103px 30px 20px 280px;
    background-color: $page-bg-color;
    color: $text-color-2;
    transition: 0.5s ease-in-out;
}

// page header
.page-header {
    width: 100%;
}

.page-header__title {
    margin: 0;
    font-size: 2rem;
    border-bottom: 1px solid $text-color;
    padding-bottom: 5px;
}
.breadcrumb {
    margin: 5px 0 0 0;
    .breadcrumb-item {
        font-size: 1.2rem;
        &:hover {
            color: $color-hover;
        }
        &:last-child {
            color: $color-hover;
        }
    }
}



/* ======================================= end general ======================================= */
