/* ======================================= general ======================================= */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
    color: $text-color;
}

input {
    &:focus {
        outline: none;
    }
}
a,
a:hover {
    text-decoration: none;
    color: currentColor;
}
ul {
    padding: 0 0 0 15px;
}

li {
    list-style: none;
}

.main {
    padding: 103px 30px 20px 280px;
    background-color: $page-bg-color;
    color: $text-color-2;
    min-height: 100vh;
    transition: 0.5s ease-in-out;
}

// page header
.page-header {
    width: 100%;
    color: $text-color-3;
}

.page-header__title {
    margin: 0;
    font-size: 2rem;
    border-bottom: 1px solid $text-color;
    padding-bottom: 5px;
}
.breadcrumb {
    margin: 5px 0 0 0;
    .breadcrumb-item {
        font-size: 1.2rem;
        &:hover {
            color: $color-hover;
        }
        &:last-child {
            color: $color-hover;
        }
    }
}

.btn-status {
    display: flex;
    gap: 5px;
    .btn-status__desc {
        margin: 0;
    }
    .form-check-input {
        cursor: pointer;
        transition: 0.2s;
        width: 35px;

        border: 1px solid #4caf50;
        box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        &:checked {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            background-color: #4caf50;
            border: transparent;

            &:focus {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            }
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        }
    }
}
.important-item {
    color: red;
}

// modal
.modal-content {
    background-color: $text-color-3;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

.warning-delete-modal__close-btn {
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: $color-hover;
    }
}
.close-button {
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
    border: none;
}
.warning-text {
    color: $color-hover;
}

.warning-delete-multiple-modal-btn,
.warning-delete-modal-btn,
.btn-danger {
    height: 28.13px;
    min-width: 48.63px;
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;

    &:hover {
        background-color: #bb2d3b;
        border-color: #b02a37;
        color: #fff;
    }
}

.warning-update-multiple-modal-btn,
.warning-restore-multiple-modal-btn,
.btn-primary {
    height: 28.13px;
    min-width: 48.63px;
    background-color: $primary;
    color: #fff;
    &:hover {
        background-color: $color-hover;
    }
}

/* ============ pagination =========== */
.pagination-btn {
    margin-top: 20px;

    .page-item.active {
        .page-link {
            color: $text-color-3;
            background-color: $color-hover;
            border: 1px solid $text-color;
        }
    }

    .page-item.disable {
        opacity: 0.3;
        .page-link {
            cursor: not-allowed;
        }
    }

    .page-link {
        height: 100%;
        width: 50px;
        text-align: center;
        color: $text-color-3;
        background-color: #fff;
        border: 1px solid $text-color;
        &:hover {
            color: $color-hover;
        }
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1rem;
    }
}

/* ======================================= end general ======================================= */
