/* ======================================= general ======================================= */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
    color: $text-color;
}

input {
    &:focus {
        outline: none;
    }
}
a,
a:hover {
    text-decoration: none;
    color: currentColor;
}
ul {
    padding: 0 0 0 15px;
}

li {
    list-style: none;
}

label {
    font-size: 1.8rem;
}

.main {
    padding: 103px 20px 20px 270px;
    background-color: $page-bg-color;
    color: $text-color-2;
    min-height: 100vh;
    transition: 0.5s ease-in-out;
}

// page header
.page-header {
    width: 100%;
    color: $text-color-3;
}

.page-header__title {
    margin: 0;
    font-size: 2rem;
    border-bottom: 1px solid $text-color;
    padding-bottom: 5px;
}
.breadcrumb {
    margin: 5px 0 0 0;
    .breadcrumb-item {
        font-size: 1.6rem;
        &:hover {
            color: $color-hover;
        }
        &:last-child {
            color: $color-hover;
        }
    }
}

.btn-status {
    display: flex;
    align-items: center;
    gap: 5px;
    .btn-status__desc {
        margin: 0;
    }
    .form-check-input {
        cursor: pointer;
        transition: 0.2s;
        width: 35px;
        padding: 8px 18px;
        border: 1px solid #4caf50;
        box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        &:checked {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            background-color: #4caf50;
            border: transparent;

            &:focus {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFF'/%3e%3c/svg%3e");
            }
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(#4caf50, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234CAF50'/%3e%3c/svg%3e");
        }
    }
}
.important-item {
    color: red;
}

// modal
.modal-content {
    background-color: $text-color-3;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
}

.warning-delete-modal__close-btn {
    background-color: $primary;
    color: #fff;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: $color-hover;
    }
}
.close-button {
    background-color: transparent;
    font-size: 2rem;
    color: #fff;
    border: none;
}
.warning-text {
    color: $color-hover;
}

.btn {
    padding: 5px 8px;
    min-width: 55px;
    border: none;
    font-size: 1.4rem;
    &:focus {
        outline: none;
        box-shadow: none;
        border-color: inherit;
        color: currentColor;
    }
}

.warning-delete-multiple-modal-btn,
.warning-delete-modal-btn,
.btn-danger {
    background-color: #dc3545;
    color: #fff;
    &:focus,
    &:hover {
        background-color: darken(#dc3545, 5%);
        color: #fff;
    }
}

.warning-permission-modal-btn,
.warning-update-multiple-modal-btn,
.warning-restore-multiple-modal-btn,
.btn-primary {
    background-color: $primary;
    color: #fff;
    &:focus,
    &:hover {
        color: #fff;
        background-color: darken($primary, 5%);
    }
}

.btn-warning {
    background-color: #f7a100;
    color: #fff;
    &:focus,
    &:hover {
        color: #fff;
        background-color: darken(#f7a100, 5%);
    }
}

/* ============ pagination =========== */
.pagination-btn {
    margin-top: 20px;

    .page-item.active {
        .page-link {
            color: $text-color-3;
            background-color: $color-hover;
            border: 1px solid $text-color;
        }
    }

    .page-item.disable {
        opacity: 0.3;
        .page-link {
            cursor: not-allowed;
        }
    }

    .page-link {
        height: 100%;
        width: 50px;
        text-align: center;
        color: $text-color-3;
        background-color: #fff;
        border: 1px solid $text-color;
        &:hover {
            color: $color-hover;
        }
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.8rem;
    }
}

/* ============ image upload  =========== */
.account,
.product-category {
    .single-image__upload {
        width: 150px;
        height: 150px;
        min-width: 100px;
        min-height: 100px;
        margin-top: 0;
        border: 1px dashed #263544;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .single-image__upload-icon {
        font-size: 3.4rem;
    }

    .single-image__preview {
        display: inline-block;
        border-radius: 5px;
        padding: 5px;
        border: 1px solid #263544;
        position: relative;
        img {
            height: 100%;
            max-height: 300px;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .image__close-icon {
        font-size: 1.8rem;
        position: absolute;
        top: -8px;
        right: -10px;
        color: orange;
        background-color: #fff;
        cursor: pointer;
        border-radius: 50%;
    }
}

/* ======================================= toolbar ======================================= */
.toolbar {
    padding: 20px 0 10px;
    border-bottom: 1px solid $text-color;
    .toolbar__box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 5px;
        .icon-btn {
            margin-right: 5px;
        }
    }
    /* ============ left box =========== */
    .toolbar__left-box {
        // search box
        .search {
            border: 2px solid $text-color;
            border-radius: 3px;
            display: flex;
            align-items: center;
            overflow: hidden;
            max-width: 300px;
            font-size: 2rem;
        }
        .search__input {
            border: none;
            padding: 5px;
            caret-color: $text-color;
            font-size: 1.8rem;
            background-color: #fff;
            width: 300px;
        }
        .search__toolbar-icon {
            display: inline-block;
            cursor: pointer;
            background-color: #fff;
            padding-left: 10px;
            padding-right: 10px;
            border: 2px solid transparent;
            border-left: 2px solid $text-color;
            color: $text-color;
            &:hover {
                color: $color-hover;
            }
        }

        // btn block
        .btn-primary {
            margin: 5px 5px 0 0;
        }
    }

    /* ============  filter-box,handle-box =========== */
    .toolbar__advanced-box {
        height: 0;
        overflow: hidden;
        .advanced__item-header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            height: 40px;
            background-color: $text-color-3;
        }
        .toolbar__advanced-group-btn {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        .block-advanced__title {
            font-weight: 600;
            color: $text-color;
            margin: 0;
            min-width: 120px;
        }
        select {
            width: 100%;
            border-radius: 3px;
            color: $text-color-3;
            height: 30px;
            outline: none;
            border: none;
        }
        label {
            background-color: #eeeef5;
            border-radius: 5px;
            font-size: 1.4rem;
            cursor: pointer;
            padding: 3px 5px;
            color: $text-color-3;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            white-space: nowrap;
        }

        input[type="radio"]:checked + label {
            background-color: $color-hover;
            color: #fff;
        }

        input[type="radio"] {
            display: none;
        }

        .toolbar__advanced-form {
            width: 100%;
        }
        .block-advanced {
            overflow: auto;
            margin-top: 15px;
        }
        .advanced__title {
            margin: 0;
            color: $text-color-3;
            min-width: 150px;
        }

        .advanced__item {
            display: flex;
            gap: 5px;
            align-items: center;
            height: 40px;
            padding: 0 10px;
        }
        .advanced__item-2 {
            display: flex;
            gap: 5px;
            align-items: center;
            height: 40px;
            padding: 0 10px;
            background-color: $text-color;
        }
        .advanced__radio-group {
            overflow: auto;
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 2px;
            // scrollbar
            &::-webkit-scrollbar {
                height: 5px;
            }
            &::-webkit-scrollbar-track {
                background-color: $bg-color-header;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $color-hover;
                border-radius: 50px;
            }
        }

        .advanced__input {
            border: none;
            border-radius: 3px;
            padding: 3px 5px;
            caret-color: $text-color;
            background-color: #fff;
            color: $text-color-3;
            width: 100%;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
                rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }

        .advanced__number-group {
            display: flex;
            align-items: center;
            gap: 5px;
            width: 250px;
        }
    }
}
/* ======================================= alert ======================================= */
.alert-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 80px;
    right: 20px;
    transform: translateX(110%);
    z-index: 100;
    gap: 10px;
    max-width: 400px;
    min-width: 300px;
    min-height: 50px;
    padding: 10px 20px 10px 10px;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    transition: 0.5s;
    .alert-content {
        margin: 0;
        flex: 1;
        font-size: 1.8rem;
    }
    .alert-icon-close {
        cursor: pointer;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 0;
        background: $color-hover;
    }
}
.alert-container.success {
    background-color: #4caf50;
}
.alert-container.error {
    background-color: #dc3545;
}
.alert-container.warning {
    background-color: #ffcc00;
}
.alert-container.active {
    transform: translateX(0);
    animation: opacityGrow 5s linear forwards;
    &::before {
        animation: borderGrow 5s linear forwards;
    }
}

@keyframes opacityGrow {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 80%;
    }
}
@keyframes borderGrow {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* ======================================= end general ======================================= */
