/* ======================================= header ======================================= */
.header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 $box-shadow;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    /* ===================== left box ==================== */

    .left-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        gap: 20px;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $bg-color-header;
        height: 95%;
        width: 250px;
        align-self: flex-start;
        overflow: hidden;
        padding: 20px;
    }

    .logo__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .form-check-input {
        cursor: pointer;
        border: 1px solid $bg-color-header;
        transition: 0.5s;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
        &:checked {
            box-shadow: 0 0 0 0.25rem rgba($bg-color-header, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
            background-color: $bg-color-header;
        }
        &:focus {
            box-shadow: 0 0 0 0.25rem rgba($bg-color-header, 0.25);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23FFA500'/%3e%3c/svg%3e");
        }
    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-color-2;
    }

    .search-box {
        display: flex;
        align-items: center;
    }

    .search-box.active {
        .search-box__input {
            width: 200px;
            padding: 6px 15px;
            color: $text-color-3;
        }

        .search-box__close-icon {
            display: inline-block;
        }
    }

    .search-box__close-icon {
        display: none;
    }

    .search-box__close-icon,
    .search__icon,
    .screen__icon {
        padding: 10px;
        cursor: pointer;
    }

    .search-box__input {
        color: $text-color;
        width: 0;
        font-size: 1.2rem;
        padding: 0;
        border: 0;
        transition: 0.5s ease;
    }

    .screen__icon {
        display: none;
        color: $text-color-2;
    }

    .screen .active {
        display: inline-block;
    }

    .right-box__btn-dropdown {
        color: $text-color;
        padding: 10px;
        display: none;
        cursor: pointer;
        line-height: 0;
    }
    .notification,
    .message,
    .search-box__close-icon,
    .screen__icon,
    .search__icon {
        &:hover {
            color: $color-hover;
        }
    }

    /* ===================== right box ==================== */
    .right-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 0 20px;

        .search,
        .screen {
            display: none;
        }
    }

    .notification,
    .message {
        position: relative;
        cursor: pointer;
        color: $text-color-2;
    }
    .notification__quantity,
    .message__quantity {
        position: absolute;
        top: -5px;
        right: -10px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 17px;
        width: 17px;
        font-size: 0.9rem;
        font-weight: 200;
        background-color: $color-hover;
        color: $text-color-2;
        border-radius: 50px;
    }

    .admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        gap: 10px;
        color: $text-color-2;
        &:focus {
            box-shadow: 0 0 0 0 transparent;
        }
        &:hover {
            color: $color-hover;
        }

        .admin__img {
            height: 40px;
            width: 40px;
            border-radius: 50px;
        }
        .admin__name {
            font-size: 1.6rem;
            margin: 0;
            color: currentColor;
        }
    }

    .dropdown-toggle::after {
        display: none;
    }

    button:focus:not(:focus-visible) {
        outline: none;
    }

    .dropdown-menu {
        min-width: 300px;
        box-shadow: 0 2px 4px 0 $box-shadow;
        top: 5px !important;
        &::before {
            content: "";
            z-index: -1;
            top: -9px;
            right: 30px;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #fff;
            border-radius: 2px;
            transform: rotate(45deg);
            box-shadow: -2px -2px 2px $box-shadow;
        }
    }

    .dropdown-item {
        display: flex;
        align-items: center;
    }

    .dropdown-item__title {
        font-size: 1.4rem;
        margin: 0 0 0 10px;
    }

    .dropdown-item__icon {
        font-size: 1.6rem;
    }
}

/* ======================================= end header ======================================= */
