$bg-color-navbar: #263544;
$bg-color-navbar-2: #222d3b;
$bg-color-navbar-hover: #1d2531;
.navbar {
    width: 250px;
    height: 100vh;
    background-color: $bg-color-navbar;
    display: block;
    transition: transform 0.5s ease;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 5;
    .navigation__title {
        padding: 10px;
        font-size: 1.2rem;
        margin: 0;
        color: $text-color;
    }

    .navigation__list {
        margin: 0;
        padding: 0;
    }

    .navigation-item__btn {
        display: flex;
        align-items: center;
        width: 100%;
        color: $text-color;
        text-align: start;
        margin: 0;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 200;
        &:hover {
            color: $color-hover;
            background-color: $bg-color-navbar-hover;
        }

        &:focus {
            box-shadow: none;
            background-color: $bg-color-navbar-hover;
            color: $color-hover;
        }
        &.active {
            background-color: $bg-color-navbar-hover;
        }
        &.single.active {
            background-color: $bg-color-navbar-2;
            color: $color-hover;
        }
    }

    .navigation-item__btn.active {
        .navigation-item__icon-btn-down {
            transform: rotate(0);
        }
    }

    .navigation-item__icon-btn {
        margin-right: 10px;
        font-size: 1.2rem;
    }

    .navigation-item__icon-btn-down {
        margin-left: auto;
        transition: 0.3s;
        transform: rotate(-90deg);
    }

    .navigation-item__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 30px;
        background-color: $bg-color-navbar-2;
        color: $text-color;
        &:hover {
            color: $color-hover;
            background-color: $bg-color-navbar-hover;
        }

        &:focus {
            box-shadow: none;
            background-color: $bg-color-navbar-hover;
            color: $color-hover;
        }
        &.active {
            color: $color-hover;
        }
    }

    .navigation-item__icon {
        font-size: 0.8rem;
    }

    .navigation-item__title {
        margin: 0;
        font-size: 1.2rem;
    }
}
