mixin getCategory(IdCategory,categoryTree)
    each category in categoryTree
        if category._id == IdCategory
            p #{category.name}
        else
            +getCategory(IdCategory,category.children)