* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
}

:root {
    --primary: #2e80ce;
    --bg--color: #10375c;
    --color: #fff;
    --color-hover: orange;
    --text-color: #000;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

/* ======================================= header ======================================= */
.header .wrapper {
    height: 70px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============ logo header =========== */

.logo__img {
    height: 100%;
    width: 100%;
}
/* ======================== middle block ======================= */
.middle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ============ store system btn =========== */
.store-system-btn {
    height: 40px;
    width: 130px;
    background-color: var(--primary);
    font-size: 1.4rem;
    line-height: 0.7;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.store-system-btn:hover {
    background-color: var(--color-hover);
}

.store-system-btn__title {
    font-size: 0.9rem;
    color: var(--color);
}
.store-system-btn__desc {
    font-size: 0.9rem;
    color: var(--color);
    display: inline-block;
}

/* ============ search box =========== */
.search-box {
    display: flex;
    border: solid var(--primary) 1px;
    border-radius: 50px;
    width: 500px;
    height: 40px;
}

.search-box__icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 0 0 50px;
    overflow: hidden;
    cursor: pointer;
    color: var(--primary);
}

.search-box__input {
    flex: 1;
    font-size: 1.4rem;
    border-width: 0px 0px 0px 0px;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
}

/* ======================== right block ======================= */
.right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotline,
.favorite-products {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.4;
}

/* ============ hotline =========== */
.hotline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hotline__icon {
    height: 100%;
    font-size: 2.8rem;
    margin-right: 8px;
    color: var(--primary);
}

.hotline:hover {
    .hotline__number,
    .hotline__icon {
        color: var(--color-hover);
    }
}

.hotline__title {
    font-size: 1.2rem;
    color: var(--color-hover);
    margin-bottom: 5px;
}

.hotline__number {
    color: var(--primary);
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
}

/* ============ favorite products =========== */
.favorite-products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.favorite-products:hover {
    .favorite-products__detail {
        color: var(--color-hover);
    }
    .favorite-products__icon {
        color: var(--color-hover);
        border: solid var(--color-hover) 1px;
    }
}

.favorite-products__icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid var(--primary) 1px;
    color: var(--primary);
    margin-right: 8px;
}

.favorite-products__title {
    font-size: 1.2rem;
    color: var(--color-hover);
    margin-bottom: 5px;
}

.favorite-products__detail {
    color: var(--primary);
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    margin: 0;
}

.favorite-products__quantity {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 0.9rem;
    font-weight: 200;
    background-color: var(--color-hover);
    color: var(--text-color);
    border-radius: 50px;
}

/* ============ user,cart icon =========== */
.user {
    margin-left: 10px;
}

.user,
.cart {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid var(--primary) 1px;
    color: var(--primary);
    margin-right: 8px;
    position: relative;
}

.user:hover,
.cart:hover {
    color: var(--color-hover);
    border: solid var(--color-hover) 1px;
}

.cart__quantity{
    position: absolute;
    top: -3px;
    right: -3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 0.9rem;
    font-weight: 200;
    background-color: var(--color-hover);
    color: var(--text-color);
    border-radius: 50px;
}

/* ============ end box =========== */
/* ======================================= end ======================================= */
