/* ======================================= general ======================================= */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
    color: $text-color;
    min-height: 100vh;
}

input {
    &:focus {
        outline: none;
    }
}
a,
a:hover {
    text-decoration: none;
    color: currentColor;
}
ul {
    padding: 0 0 0 15px;
}

li {
    list-style: none;
}

// page header
.breadcrumb-nav {
    width: 100%;
    color: $text-color-2;
    background-color: #e3e1e1;
}

.breadcrumb {
    margin: 0;
    padding: 10px 0;
    .breadcrumb-item {
        font-size: 1.6rem;
        &:hover {
            color: $color-hover;
        }
        &:last-child {
            color: $color-hover;
        }
    }
}

/* ============ pagination =========== */
.pagination-btn {
    margin-top: 20px;

    .page-item.active {
        .page-link {
            color: $text-color;
            background-color: $primary;
            border: 1px solid $primary;
        }
    }

    .page-item.disable {
        opacity: 0.3;
        .page-link {
            cursor: not-allowed;
        }
    }

    .page-link {
        height: 100%;
        width: 50px;
        text-align: center;
        color: $primary;
        background-color: $text-color;
        border: 1px solid $primary;
        &:hover {
            color: $color-hover;
        }
    }
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 1.8rem;
    }
}

/* ============ list-product =========== */
.product-list {
    align-items: stretch;
    margin: 0;
    padding: 10px 0;
    row-gap: 15px;
    .product-item {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px,
            rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 5px;
        overflow: hidden;
        padding: 0;
        height: 100%;
        position: relative;
    }

    .product-item__featured {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        color: #fff;
        border-top: 45px solid $primary;
        border-right: 45px solid transparent;
    }

    .product-item__featured-icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(30%, -175%);
    }

    .product-item__img-wrapper {
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-item__img {
        max-width: 100%;
        max-height: 100%;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    .product-item__desc {
        padding: 10px 15px;
        color: $primary;
    }
    .product-item__title {
        color: $text-color-2;
        font-size: 1.8rem;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: $color-hover;
        }
    }
    .product-item__price-discounted {
        margin: 0;
    }
    .product-item__price-original {
        font-size: 1.8rem;
        text-decoration: line-through;
        color: #ccc;
    }

    .product-item__price-discount-percent {
        color: red;
        font-size: 1.8rem;
        text-decoration: none;
        margin-left: 5px;
    }
}

/* ======================================= end general ======================================= */
