/* ======================================= general ======================================= */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "sora", sans-serif;
    color: $text-color;
}

input {
    &:focus {
        outline: none;
    }
}
a,
a:hover {
    text-decoration: none;
    color: currentColor;
}
ul {
    padding: 0 0 0 15px;
}

li {
    list-style: none;
}

// page header
.breadcrumb-nav {
    width: 100%;
    color: $text-color-2;
    background-color: #e3e1e1;
}

.breadcrumb{
    margin: 0;
    padding: 10px 0 ;
    .breadcrumb-item {
        font-size: 1.2rem;
        &:hover {
            color: $color-hover;
        }
        &:last-child {
            color: $color-hover;
        }
    }
}
/* ======================================= end general ======================================= */
