/* ======================================= header ======================================= */
.header {
    --error-color: #ff0033;
    .wrapper {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    /* ============ left box =========== */
    .logo__img {
        height: 50px;
        object-fit: cover;
    }

    /* ============ middle box =========== */
    .middle-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }
    .btn-navbar {
        margin-right: 10px;
        padding: 10px 15px;
    }
    .search-wrapper {
        flex: 1;
        position: relative;
        .search-box__suggest {
            display: none;
            width: 100%;
            padding: 10px 0;
            position: absolute;
            background-color: #fff;
            top: 105%;
            z-index: 5;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
    .search-box {
        display: flex;
        flex: 1;
        border: solid $primary 1px;
        border-radius: 50px;
        height: 40px;
        overflow: hidden;
    }
    .search-box__btn {
        padding: 0 30px;
        font-size: 1.8rem;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        color: $primary;
        border: none;
        border-left: 1px solid $primary;
        margin: 5px 0;
        outline: none;
        background-color: transparent;
    }
    .search-box__btn:hover {
        color: $color-hover;
    }

    .search-box__btn--reset {
        background-color: transparent;
        color: $primary;
        outline: none;
        border: none;
        padding: 0 10px;
    }

    .search-box__btn--reset.active {
        animation: linear 1s loading infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .search-box__input {
        flex: 1;
        font-size: 1.8rem;
        border: none;
        width: 100%;
        padding-left: 20px;
    }

    .suggest-list {
        padding: 0;
        margin: 0;
    }

    .suggest__title {
        color: $color-hover;
        padding: 0 10px;
        margin: 0;
        display: none;
    }

    .suggest-item {
        color: $primary;
        padding: 6px 0 6px 20px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .suggest-item__wrapper {
        display: flex;
        gap: 10px;
        height: 40px;
        align-items: center;
    }
    .suggest-item__thumbnail {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .suggest-item__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .suggest-item__desc {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    .suggest-item__title {
        font-size: 1.8rem;
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }
    .suggest-item__price-group {
        display: flex;
        align-items: end;
    }
    .suggest-item__price {
        color: $color-hover;
        margin-right: 5px;
    }
    .suggest-item__original-price {
        color: $primary;
        font-size: 1.4rem;
        text-decoration: line-through;
        margin-right: 2px;
    }
    .suggest-item__discount {
        color: red;
        font-size: 1.4rem;
        margin-bottom: 1px;
    }

    /* ============ right box =========== */
    .right-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .hotline,
    .favorite-products {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.4;
    }
    .hotline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        &:hover {
            .hotline__number,
            .hotline__icon {
                color: $color-hover;
            }
        }
        .hotline__icon {
            height: 100%;
            font-size: 2.8rem;
            margin-right: 8px;
            color: $primary;
            transition: 0.2s;
        }
    }
    .hotline__title {
        font-size: 1.8rem;
        color: $color-hover;
        margin-bottom: 5px;
    }

    .hotline__number {
        color: $primary;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 600;
        transition: 0.2s;
    }
    .favorite-products {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            .favorite-products__icon {
                color: $color-hover;
                border: solid $color-hover 1px;
            }
            .favorite-products__detail {
                color: $color-hover;
            }
        }
    }

    .favorite-products__icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid $primary 1px;
        color: $primary;
        margin-right: 5px;
        min-width: 40px;
        transition: 0.2s;
    }

    .favorite-products__title {
        font-size: 1.8rem;
        color: $color-hover;
        margin-bottom: 5px;
        transition: 0.2s;
        white-space: nowrap;
    }
    .favorite-products__detail {
        display: flex;
        align-items: center;
        color: $primary;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 600;
        margin: 0;
        transition: 0.2s;
    }
    .favorite-products__quantity {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        min-width: 15px;
        font-size: 0.9rem;
        font-weight: 200;
        background-color: $color-hover;
        color: #000;
        border-radius: 50px;
        margin-right: 2px;
    }
    .user,
    .cart {
        height: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid $primary 1px;
        color: $primary;
        position: relative;
        transition: 0.2s;
        background-color: transparent;
        outline: none;
    }
    .user:hover,
    .cart:hover {
        color: $color-hover;
        border: solid $color-hover 1px;
    }
    .cart__quantity {
        position: absolute;
        top: -6px;
        right: -6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        font-size: 1.2rem;
        font-weight: 200;
        background-color: $color-hover;
        color: #000;
        border-radius: 50px;
    }

    .modal-dialog {
        background-color: #fff;
        color: $primary;
        border-radius: 5px;
        margin-top: 120px;
    }

    .modal-login {
        .modal-body {
            padding: 0;
            overflow: hidden;
        }
        .auth {
            display: flex;
            width: 300%;
            transition: 0.5s;
            transform: translateX(calc(-100% / 3));
        }
        .block__forgot,
        .block__login,
        .block__register {
            flex: 1;
            padding: 1.6rem;
        }

        label {
            font-size: 1.8rem;
            color: $primary;
        }
        input {
            font-size: 1.6rem;
            height: 40px;
            &:focus {
                box-shadow: none;
            }
        }
        input.error {
            border: 1px solid var(--error-color);
        }
        input[name="password"],
        input[name="passwordConfirm"] {
            padding-right: 35px;
        }

        .modal-title {
            font-size: 2.5rem;
            text-align: center;
            color: $color-hover;
        }
        .password__group {
            position: relative;
        }
        small {
            visibility: hidden;
            color: var(--error-color);
        }
        .password__icon {
            aspect-ratio: 1 / 1;
            padding: 0.375rem 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            &:hover {
                cursor: pointer;
            }
        }
        .btn-submit-auth {
            display: block;
            width: 100%;
            font-size: 1.6rem;
            margin-top: 10px;
        }
        .login__logo {
            height: 100%;
            width: 150px;
        }

        .line-or {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 10px;
            margin-bottom: 5px;
        }

        .line-or__line {
            height: 1px;
            flex: 1;
            background-color: $primary;
        }

        .forgot-password {
            font-size: 1.4rem;
            margin-top: 5px;
            cursor: pointer;
            &:hover {
                color: $color-hover;
            }
        }

        .social-login {
            display: flex;
            gap: 15px;
        }
        .social-login__item {
            flex: 1;
            text-align: center;
            border: 1px solid $primary;
            padding: 5px 0;
            transition: 0.3s;
            &:hover {
                background-color: $color-hover;
                color: #fff;
                border: 1px solid $color-hover;
            }
        }
        .auth-link {
            text-align: center;
            margin-top: 5px;
        }
        .social-login__icon {
            font-size: 2rem;
            margin-right: 5px;
        }
        .auth-link__btn {
            color: $color-hover;
            display: inline;
            cursor: pointer;
        }
        .btn-confirm {
            height: 40px;
            font-size: 1.6rem;
            width: 100%;
        }
    }

    .btn-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        background-color: transparent;
        border: none;
        cursor: pointer;
        gap: 10px;
        color: $text-color-2;
        max-width: 200px;
        overflow: hidden;
        &:focus {
            box-shadow: 0 0 0 0 transparent;
        }
        &:hover {
            color: $color-hover;
        }

        .user__thumbnail {
            height: 40px;
            width: 40px;
            border-radius: 50px;
            border: 1px solid $primary;
            overflow: hidden;
            &:hover {
                border: 1px solid $color-hover;
            }
        }

        .user__img {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50px;
        }
        .user__name {
            font-size: 1.8rem;
            margin: 0;
            color: currentColor;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .dropdown-toggle::after {
        display: none;
    }

    button:focus:not(:focus-visible) {
        outline: none;
    }

    .dropdown-menu {
        min-width: 300px;
        box-shadow: 0 2px 4px 0 $box-shadow;
        top: 5px !important;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        transition: 0.1s;
        &:hover {
            color: $color-hover;
        }
    }

    .dropdown-item__title {
        font-size: 1.8rem;
        margin: 0 0 0 10px;
    }

    .dropdown-item__icon {
        font-size: 1.8rem;
    }
}

/* ======================================= end header ======================================= */
