/* ======================================= header ======================================= */
.header {
    .wrapper {
        padding: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* ============ left box =========== */
    .logo__img {
        height: 100%;
        width: 100%;
    }

    /* ============ middle box =========== */
    .middle-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-navbar {
        margin-right: 10px;
        padding: 10px 15px;
    }
    .store-system-btn {
        height: 40px;
        width: 130px;
        background-color: $primary;
        font-size: 1.8rem;
        line-height: 0.7;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        margin-right: 15px;
        transition: 0.2s;
        &:hover {
            background-color: $color-hover;
        }
    }
    .store-system-btn__title {
        font-size: 1rem;
        color: $text-color;
    }
    .store-system-btn__desc {
        font-size: 1rem;
        color: $text-color;
        display: inline-block;
    }

    .search-wrapper {
        flex: 1;
        position: relative;
        .search-box__suggest {
            display: none;
            width: 100%;
            padding: 10px 0;
            position: absolute;
            background-color: #fff;
            top: 105%;
            z-index: 5;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }
    .search-box {
        display: flex;
        flex: 1;
        border: solid $primary 1px;
        border-radius: 50px;
        height: 40px;
        overflow: hidden;
    }
    .search-box__btn {
        padding: 0 30px;
        font-size: 1.8rem;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        color: $primary;
        border: none;
        border-left: 1px solid $primary;
        margin: 5px 0;
        outline: none;
        background-color: transparent;
    }
    .search-box__btn:hover {
        color: $color-hover;
    }

    .search-box__btn--reset {
        background-color: transparent;
        color: $primary;
        outline: none;
        border: none;
        padding: 0 10px;
    }

    .search-box__btn--reset.active {
        animation: linear 1s loading infinite;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .search-box__input {
        flex: 1;
        font-size: 1.8rem;
        border: none;
        width: 100%;
        padding-left: 20px;
    }

    .suggest-list {
        padding: 0;
        margin: 0;
    }

    .suggest__title {
        color: $color-hover;
        padding: 0 10px;
        margin: 0;
        display: none;
    }

    .suggest-item {
        color: $primary;
        padding: 6px 0 6px 20px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    .suggest-item__wrapper {
        display: flex;
        gap: 10px;
        height: 40px;
        align-items: center;
    }
    .suggest-item__thumbnail {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    .suggest-item__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    .suggest-item__desc {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    .suggest-item__title {
        font-size: 1.8rem;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }
    .suggest-item__price-group {
        display: flex;
        align-items: end;
    }
    .suggest-item__price {
        color: $color-hover;
        margin-right: 5px;
    }
    .suggest-item__original-price {
        color: $primary;
        font-size: 1.4rem;
        text-decoration: line-through;
        margin-right: 2px;
    }
    .suggest-item__discount {
        color: red;
        font-size: 1.4rem;
        margin-bottom: 1px;
    }

    /* ============ right box =========== */
    .right-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }
    .hotline,
    .favorite-products {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0.4;
    }
    .hotline {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;
        &:hover {
            .hotline__number,
            .hotline__icon {
                color: $color-hover;
            }
        }
        .hotline__icon {
            height: 100%;
            font-size: 2.8rem;
            margin-right: 8px;
            color: $primary;
            transition: 0.2s;
        }
    }
    .hotline__title {
        font-size: 1.8rem;
        color: $color-hover;
        margin-bottom: 5px;
    }

    .hotline__number {
        color: $primary;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 600;
        transition: 0.2s;
    }
    .favorite-products {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            .favorite-products__icon {
                color: $color-hover;
                border: solid $color-hover 1px;
            }
            .favorite-products__detail {
                color: $color-hover;
            }
        }
    }

    .favorite-products__icon {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid $primary 1px;
        color: $primary;
        margin-right: 5px;
        min-width: 40px;
        transition: 0.2s;
    }

    .favorite-products__title {
        font-size: 1.8rem;
        color: $color-hover;
        margin-bottom: 5px;
        transition: 0.2s;
        white-space: nowrap;
    }
    .favorite-products__detail {
        display: flex;
        align-items: center;
        color: $primary;
        font-size: 1.8rem;
        line-height: 1;
        font-weight: 600;
        margin: 0;
        transition: 0.2s;
    }
    .favorite-products__quantity {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 15px;
        min-width: 15px;
        font-size: 0.9rem;
        font-weight: 200;
        background-color: $color-hover;
        color: #000;
        border-radius: 50px;
        margin-right: 2px;
    }
    .user,
    .cart {
        height: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: solid $primary 1px;
        color: $primary;
        position: relative;
        transition: 0.2s;
    }
    .user:hover,
    .cart:hover {
        color: $color-hover;
        border: solid $color-hover 1px;
    }
    .cart__quantity {
        position: absolute;
        top: -6px;
        right: -6px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        font-size: 1.2rem;
        font-weight: 200;
        background-color: $color-hover;
        color: #000;
        border-radius: 50px;
    }
}

/* ======================================= end header ======================================= */
