/* PC */
@media (max-width: 1199.98px) {
    .header {
        .hotline__title,
        .favorite-products__title,
        .hotline__number,
        .favorite-products__detail {
            font-size: 1rem;
        }
    }
}

/* ipad and mobile */
@media (max-width: 991.98px) {
    .header {
        .favorite-products__icon {
            margin: 0;
        }
        .middle-box {
            order: 3;
            margin-top: 5px;
        }
    }

    .product-detail {
        height: 100%;
        .product-detail__content {
            height: 100%;
            overflow: hidden;
        }
        .left-box {
            flex-direction: column-reverse;
            margin: 0 0 20px;
            gap: 20px;
        }
        .product-detail__thumb {
            height: 100px;
            max-width: 100px;
        }
        .product-detail__img-preview-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
        }
        .product-detail__img-preview {
            width: auto;
            height: 100%;
        }
    }
}

/* ipad */
@media (max-width: 767.98px) {
    .home {
        .product,
        .block-brand {
            padding: 20px 0 0;
        }

        .block-brand {
            grid-template-columns: repeat(6, auto);
            gap: 15px;
        }

        .banner {
            flex-direction: row;
            margin-top: 5px;
        }
        .banner__link {
            height: 120px;
            overflow: hidden;
            display: block;
            width: 33%;
        }
        .carousel-item__img {
            height: 300px;
        }
    }
}

/* mobile */
@media (max-width: 575.98px) {
    .header {
        .favorite-products {
            width: 30px;
            height: 30px;
        }
        .user,
        .cart,
        .favorite-products__icon {
            min-width: 30px;
            height: 30px;
        }
    }
    .home {
        .block-brand {
            padding: 20px 0 0;
            grid-template-columns: repeat(4, auto);
            gap: 10px;
        }
        .product-category__btn {
            font-size: 0.8rem;
            padding: 5px;
        }
        .product-title {
            padding: 2px 20px 2px 5px;
        }

        .product {
            padding: 20px 0;
            .product-category{
                flex-wrap: wrap;
            }
            .product-item{
                height: 250px;
            }
            .product-item__img-wrapper{
                height: 150px;
            }
            .product-item__desc{
                height: 100px;
            }
        }

        .carousel-item__img {
            height: 150px;
        }
    }

    .product-detail {
        .product-detail__code {
            font-size: 1.2rem;
        }
        .product-detail__price-discounted {
            font-size: 2rem;
        }
        .product-detail__price-original,
        .product-detail__price-discount-percent {
            font-size: 1.4rem;
        }

        .product-detail__btn-wrapper {
            .product-detail__btn {
                padding: 5px;
            }
        }
        .product-detail__img-preview-carousel {
            .product-detail__img-preview-btn-next,
            .product-detail__img-preview-btn-prev {
                font-size: 2rem;
            }
        }
    }
    .description {
        .desc__title {
            font-size: 2rem;
        }
        .desc__content {
            font-size: 1.4rem;
        }
    }
}
