/* PC */
@media (max-width: 1199.98px) {
}

/* ipad and mobile */
@media (max-width: 991.98px) {
    .header {
        .favorite-products__icon {
            margin: 0;
        }
    }

    .product-detail {
        height: 100%;
        .product-detail__content {
            height: 100%;
            overflow: hidden;
        }
        .left-box {
            flex-direction: column-reverse;
            margin: 0 0 20px;
            gap: 20px;
        }
        .product-detail__thumb {
            height: 100px;
            max-width: 100px;
        }
        .product-detail__img-preview-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
        }
        .product-detail__img-preview {
            width: auto;
            height: 100%;
        }
    }
    .offer__item {
        padding: 5px;
    }

    .shopping-cart {
        .right-box,
        .left-box {
            padding: 5px;
        }
    }
    .payment {
        .payment-info {
            padding: 10px;
            order: 1;
        }
        .payment-order {
            padding: 10px;
            border: none;
        }
    }
}

/* ipad */
@media (max-width: 767.98px) {
    .home {
        .product,
        .block-brand {
            padding: 20px 0 0;
        }

        .block-brand {
            grid-template-columns: repeat(6, auto);
            gap: 15px;
        }

        .banner {
            flex-direction: row;
            margin-top: 5px;
        }
        .banner__link {
            height: 120px;
            overflow: hidden;
            display: block;
            width: 33%;
        }
        .carousel-item__img {
            height: 300px;
        }
    }
    .header .search-box__input {
        font-size: 1.6rem;
    }

    .header {
        .middle-box {
            order: 3;
            margin-top: 5px;
            width: 100%;
        }
        .right-box {
            width: 40%;
            flex: 1;
        }
        .logo__img {
            height: 40px;
        }
    }
    .offer__item {
        flex-shrink: 0;
    }

    .special-item {
        padding: 10px;
    }

    .shopping-cart {
        .order-item__img {
            height: 50px !important;
            width: 50px !important;
        }

        .order-item {
            gap: 15px !important;
        }
    }
}

/* mobile */
@media (max-width: 575.98px) {
    .header {
        .user__thumbnail,
        .favorite-products {
            width: 30px !important;
            height: 30px !important;
        }
        .user,
        .cart,
        .favorite-products__icon {
            height: 30px;
            min-width: 30px;
        }
    }
    .home {
        .block-brand {
            padding: 20px 0 0;
            grid-template-columns: repeat(4, auto);
            gap: 10px;
        }
        .product-category__btn {
            font-size: 0.8rem;
            padding: 5px;
        }
        .product-title {
            padding: 2px 20px 2px 5px;
        }

        .product {
            padding: 20px 0;
            .product-category {
                flex-wrap: wrap;
            }
            .product-item__img-wrapper {
                height: 150px;
            }
        }

        .carousel-item__img {
            height: 150px;
        }
    }

    .product-detail {
        .product-detail__code {
            font-size: 1.8rem;
        }
        .product-detail__price-discounted {
            font-size: 2rem;
        }
        .product-detail__price-original,
        .product-detail__price-discount-percent {
            font-size: 1.8rem;
        }

        .product-detail__btn-wrapper {
            .product-detail__btn {
                padding: 5px;
            }
        }
        .product-detail__img-preview-carousel {
            .product-detail__img-preview-btn-next,
            .product-detail__img-preview-btn-prev {
                font-size: 2rem;
            }
        }
    }
    .description {
        .desc__title {
            font-size: 2rem;
        }
        .desc__content {
            font-size: 1.8rem;
        }
    }
    .order-item__img {
        height: 40px;
        width: 40px;
    }
    .shopping-cart {
        .order-item__content--right {
            flex: 1;
            justify-content: end !important;
        }
    }

    .payment {
        .payment__wrapper {
            margin-top: 20px;
        }
        .payment-info__title {
            margin: 10px 0;
        }

        .order-item__img {
            height: 40px;
            width: 40px;
        }
        .order-item {
            gap: 10px;
        }
    }
}
