/* PC */
@media (max-width: 1199.98px) {
    .hotline__title,
    .favorite-products__title {
        font-size: 1rem;
    }
    .hotline__number,
    .favorite-products__detail {
        font-size: 1rem;
    }
}

/* ipad and mobile */
@media (max-width: 991.98px) {
    .favorite-products__icon {
        margin: 0;
    }

    .middle-box {
        order: 3;
        margin-top: 5px;
    }

    .favorite-products__icon{
        margin: 0;
    }
}

/* ipad */
@media (max-width: 767.98px) {
}

/* mobile */
@media (max-width: 575.98px) {
    .favorite-products {
        width: 30px;
        height: 30px;
    }
    .user,
    .cart,
    .favorite-products__icon {
        min-width: 30px;
        height: 30px;
    }
}
