header(class="header")
    div(class="wrapper")
        div(class="left-box")
            //- logo
            div(class="logo")
                a(class="logo__link" href="/") 
                    img(class="logo__img",src="../../../admin/images/logo.webp", alt="logo") 

            //- toggle navbar
            div(class="toggle")
                    div(class="form-check form-switch")
                        input(id="toggle__nav", class="form-check-input", type="checkbox", role="switch",checked)

            //- search box 
            div(class="search")
                div(id="search-box" class="search-box")
                    span(id="search-box__close-icon" class="search-box__close-icon")
                        i(class="fa-solid fa-xmark")
                    input(class="search-box__input" type="text" placeholder="Enter keyword...")
                i(id="search__icon" class="search__icon fa-solid fa-magnifying-glass")
           
            //- screen 
            div(class="screen")
                i(class="screen__icon--expand screen__icon fa-solid fa-expand")
                i(class="screen__icon--compress screen__icon active fa-solid fa-compress")
            
            //- right box dropdown
            div(class="right-box__btn-dropdown", id="right-box__btn-dropdown")
                i(id="right-box__btn-dropdown-icon" class="right-box__btn-dropdown-icon fa-solid fa-ellipsis")
        div(class="right-box", id="right-box")
            //- search box dropdown
            div(class="search")
                div(id="search-box" class="search-box")
                    span(id="search-box__close-icon" class="search-box__close-icon")
                        i(class="fa-solid fa-xmark")
                    input(class="search-box__input" type="text" placeholder="Enter keyword...")
                i(id="search__icon" class="search__icon fa-solid fa-magnifying-glass")
            
            //- screen dropdown
            div(class="screen")
                i(class="screen__icon--expand screen__icon fa-solid fa-expand")
                i(class="screen__icon--compress screen__icon active fa-solid fa-compress")
            
            //- notification
            div(class="notification")
                span(class="notification__quantity") 0
                i(class="fa-regular fa-bell")
            
            //- message
            div(class="message")
                span(class="message__quantity") 0
                i(class="fa-regular fa-message")

            //- btn dropdown
            button(type="button",class="admin btn btn-danger dropdown-toggle",data-bs-toggle="dropdown",aria-expanded="false") 
                img(class="admin__img",src=user.avatar, alt="avatar")
                h2(class="admin__name") #{user.fullName}
                span(class="admin__icon") 
                    i(class="fa-solid fa-caret-down")
            ul(class="dropdown-menu")
                li
                    a(class="dropdown-item",href="/admin/setting") 
                        span(class="dropdown-item__icon")
                            i(class="fa-solid fa-gear")
                        h3(class="dropdown-item__title") Cài đặt
                li 
                    a(class="dropdown-item",href="/admin/profile") 
                        span(class="dropdown-item__icon")
                            i(class="fa-regular fa-user")
                        h3(class="dropdown-item__title") Hồ sơ
                li 
                    a(class="dropdown-item",href="/admin/message") 
                        span(class="dropdown-item__icon")
                            i(class="fa-regular fa-envelope")
                        h3(class="dropdown-item__title") Tin nhắn
                li 
                    a(class="dropdown-item",href="#") 
                        span(class="dropdown-item__icon")
                            i(class="fa-solid fa-lock")
                        h3(class="dropdown-item__title") Khóa màng hình
                li 
                    hr(class="dropdown-divider")
                li 
                    a(class="dropdown-item",href="/admin/auth/logout", id="logout") 
                        span(class="dropdown-item__icon")
                            i(class="fa-solid fa-arrow-right-from-bracket")
                        h3(class="dropdown-item__title") Logout