extends ../../layout/default.pug
include ../../mixins/breadcrumbs.pug
include ../../mixins/alert.pug

block main
    +alert(messages)
    div(class="breadcrumb-nav")
        div(class="container-xl")
            +breadcrumb("Sản phẩm", [
                { name: `Home`, href: `/` },
                { name: `User`, href: `/user/profile` },
                { name: `Hồ sơ`, href: `/user/profile` },
            ])
    
    main(class="profile")
        div(class="container-xl")
            div(class="wrapper row")
                div(class="left-box col-12 col-md-4 col-lg-3")                       
                    div(class="profile-box")
                        div(class="profile-box__avatar")
                            img(src=user.avatar || "/uploads/default-image.jpg", alt='Avatar')
                        div(class="profile-box__text")
                            h2(class="profile-box__name") #{user.name || 'Chưa cập nhật'}
                            a(href="/user/profile/edit", class="profile-box__link") 
                                span(class="icon icon-edit") 
                                    i(class="fas fa-edit")
                                | Chỉnh sửa hồ sơ
                    hr
                    div(class="profile-sidebar")
                        ul(class="profile-sidebar__list")
                            li 
                                a(class="dropdown-item",href="/user/profile") 
                                    span(class="dropdown-item__icon")
                                        i(class="fa-regular fa-user")
                                    p(class="dropdown-item__title") Hồ sơ
                            li 
                                a(class="dropdown-item",href="/user/message") 
                                    span(class="dropdown-item__icon")
                                        i(class="fa-solid fa-bell")
                                    p(class="dropdown-item__title") Thông báo
                            li 
                                a(class="dropdown-item",href="/cart") 
                                    span(class="dropdown-item__icon")
                                        i(class="fa-solid fa-receipt")
                                    p(class="dropdown-item__title") Đơn mua
                            li 
                                hr(class="dropdown-divider")
                            li 
                                a(class="dropdown-item",href="/auth/logout", id="logout") 
                                    span(class="dropdown-item__icon")
                                        i(class="fa-solid fa-arrow-right-from-bracket")
                                    p(class="dropdown-item__title") Đăng xuất
                div(class="right-box col-12 col-md-8 col-lg-9")
